/* index.css */

/* Reset some basic styles */
body, h1, h2, h3, h4, p, ol, li, footer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Basic body styling */
body {
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

/* Header and Navbar styling */
header {
    background-color: #0044cc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
#animate-area {
     width: 100%;
     height: 1000px;
     background-image: url("w2.jpeg");
     background-size: cover;
     animation: animatedBackground 5s linear infinite alternate;
     -webkit-animation: animatedBackground 5s linear infinite alternate;
 }
 
header img {
    max-width: 50px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2rem;
}

.navbar a:hover {
    text-decoration:  none;
}

/* Main content styling */
main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#animate-area {
    text-align: center;
}

.glow {
    color: #0044cc;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

h4 {
    font-size: 1.2rem;
    margin-top: 20px;
}

p {
    margin: 20px 0;
    text-align: justify;
}

ol {
    list-style: none;
    padding-left: 0;
}

ol li {
    background-color: #0044cc;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#border {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

footer {
    background-color: #0044cc;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer br {
    margin-bottom: 10px;
}

/* Media Queries for responsiveness */
@media (min-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-around;
    }

    header h1 {
        font-size: 2rem;
    }

    header img {
        max-width: 70px;
    }

    .navbar a {
        font-size: 1rem;
    }

    main {
        padding: 40px;
    }

    section h2 {
        font-size: 2.5rem;
    }

    section h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .navbar {
        justify-content: space-between;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header img {
        max-width: 80px;
    }

    .navbar a {
        font-size: 1.2rem;
    }

    main {
        padding: 60px;
    }

    section h2 {
        font-size: 3rem;
    }

    section h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    ol li {
        font-size: 1.2rem;
    }
}
