 header {
     background-color: antiquewhite scroll no-repeat bottom;
     padding: 2px;
     background-size: cover;
 }
 
 a {
     padding-right: 20px;
     text-decoration: none;
     font-size: 18px;
     color: white;
 }
 
 .glow {
     font-size: 30px;
     color: black;
     text-align: center;
     animation: glow 3s ease-in-out infinite alternate;
     padding-top: 300px;
 }
 
 @-webkit-keyframes glow {
     from {
         text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px grey, 0 0 40px white, 0 0 50px grey, 0 0 60px grey, 0 0 70px white;
     }
     to {
         text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px grey, 0 0 50px white, 0 0 60px black, 0 0 70px grey, 0 0 80px grey;
     }
 }
 
 a:hover {
     color: black;
 }
 
 .navbar {
     /* padding: 10px;
  margin-right: 10px; */
     background-color: white;
     background-size: cover;
     width: 100%;
     /* padding-left: 0px; */
     text-align: left;
     padding-left: 10px;
 }
 
 section {
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-origin: content-box;
 }
 
 h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 20px;
     text-align: center;
     padding: 10px;
 }
 
 h1 img {
     position: absolute;
     top: 0;
     left: 0;
     width: 200px;
     height: 200px;
     object-fit: cover;
     padding: 10px;
     border-radius: 50%;
     -moz-border-radius: white;
     -ms-border-radius: white;
     -o-border-radius: white;
     -webkit-border-radius: white;
 }
 
 h2 {
     font-size: 20px;
     color: aliceblue;
     text-align: center;
 }
 
 h3 {
     font-size: 20px;
     color: antiquewhite;
     text-align: center;
 }
 
 h4 {
     font-size: 18px;
     color: black;
     text-align: center;
 }
 
 #border {
     border: 2px solid grey;
     padding: 10px;
     border-radius: 4em / 5em;
     background-color: grey;
     -webkit-border-radius: 4em / 5em;
     -moz-border-radius: 4em / 5em;
     -ms-border-radius: 4em / 5em;
     -o-border-radius: 4em / 5em;
     font-size:18px;
 }
 
 #border:hover {
     background-color: black;
     color: white;
 }
 
 p {
     font-size: 18px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 @keyframes animatedBackground {
     from {
         background-position: 0 0;
     }
     to {
         background-position: 100% 90%;
     }
 }
 
 #animate-area {
     width: 100%;
     height: 1000px;
     background-image: url("w2.jpeg");
     background-size: cover;
     animation: animatedBackground 15s linear infinite alternate;
     -webkit-animation: animatedBackground 15s linear infinite alternate;
 }
 
 ol,
 li {
     padding-right: 10px;
     margin-right: 10px;
     margin-left: 10px;
     font-size: 18px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 li:hover {
     color: white;
 }
 
 footer {
     background-color: grey;
     background-size: cover;
     text-align: center;
     font-size: 18px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 480px) {
  .navbar {
     width: 200px; float: left;
     background-color: white;
     background-size: cover;
     width: 100px;
     /* padding-left: 0px; */
     text-align: left;
     padding-left: 3px;
   }
  #main {margin-left: 216px;}
 
}
 

 
