 header {
     font-size: 60px;
     text-align: center;
     color: blue;
 }
 
 .navbar {
     /* padding: 10px;
     margin-right: 10px; */
     background-color: white;
     background-size: cover;
     width: 100%;
     /* padding-left: 0px; */
     text-align: left;
     padding-left: 10px;
     font-size: 18px;
 }
 
 h1 {
     text-align: center;
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 10px;
 }
 
 h1 img {
     position: absolute;
     top: 0;
     left: 0;
     width: 190px;
     height: 190px;
     object-fit: cover;
     padding: 10px;
     border-radius: 50%;
     -moz-border-radius: white;
     -ms-border-radius: white;
     -o-border-radius: white;
     -webkit-border-radius: white;
 }
 
 h2 {
     font-size: 20px;
     color: rgb(17, 90, 114);
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }
 
 h3 {
     font-size: 20px;
     color: rgb(11, 179, 235);
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }
 
 h4 {
     font-size: 18px;
     color: white;
     text-align: center;
     padding-bottom: 10px;
 }
 
 h3:hover {
     color: black;
 }
 
 body {
     overflow-x: hidden;
 }
 
 p {
     text-align: left;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     color: black;
     padding-top: 40px;
     padding-left: 5px;
 }
 
 .container {
     display: flex;
     flex-wrap: wrap;
     gap: 20px 10px;
     /* row-gap column gap */
     row-gap: 40px;
     column-gap: 100px;
     overflow-x: hide;
     background-color: white;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
 }
 
 a {
     padding-right: 20px;
     text-decoration: none;
     font-size: 18px;
     color: white;
 }
 
 div img {
     width: 500px;
     height: 600px;
     padding: 10px;
     flex-wrap: nowrap;
 }
 
 .container>div {
     background-color: rgb(17, 90, 114);
     width: 500px;
     height: fit-content;
     column-gap: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     overflow-x: hidden;
 }
 
 #border {
     border: 2px solid grey;
     padding: 10px;
     border-radius: 4em / 5em;
     background-color: rgb(17, 90, 114);
     -webkit-border-radius: 4em / 5em;
     -moz-border-radius: 4em / 5em;
     -ms-border-radius: 4em / 5em;
     -o-border-radius: 4em / 5em;
 }
 
 #border:hover {
     background-color: black;
     color: white;
 }
 
 div {
     background-color: rgb(17, 90, 114);
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-wrap: wrap;
     gap: 20px 10px;
     /* row-gap column gap */
     row-gap: 40px;
     column-gap: 100px;
 }
 
 p1 {
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     text-align: left;
     padding-left: 5px;
     padding-top: 1px;
     position: relative;
     column-gap: 1px;
 }
 
 ul {
     font-size: 22px;
     font-family: Arial, Helvetica, sans-serif;
     color: black;
     text-align: left;
 }
 
 section {
     background-color: rgb(17, 90, 114);
     color: white;
 }
 
 section img {
     padding: 10px;
 }
 
 section ul {
     color: white;
 }
 
 strong {
     text-align: left;
     padding-left: 0px;
 }
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}
